<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAHJ5PSvDEPUMNrT7_cvxKCPNkhErbIuw</string>
	<key>GCM_SENDER_ID</key>
	<string>927477365224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ubsohbet</string>
	<key>PROJECT_ID</key>
	<string>ubsohbet</string>
	<key>STORAGE_BUCKET</key>
	<string>ubsohbet.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927477365224:ios:6b3864ccaca372b4ed8c5d</string>
	<key>DATABASE_URL</key>
	<string>https://ubsohbet-default-rtdb.firebaseio.com</string>
</dict>
</plist>